body {
    font-family: 'Poppins', sans-serif;

}

.heading h1 {
    font-size: 350px;
}

.color {
    color: rgb(163, 54, 123);
}

.flex {
    display: flex;
    background-image: url(images/top-banner.png);
}

.half-width {
    width: 50%;
    padding-left: 2%;

}

.half-width img {
    width: 80%;
}

.hire-me {
    text-decoration: none;
    background: rgb(240, 35, 154);
    color: white;
    padding: 10px 20px;
    font-weight: 700;

}